/* Formatações globais */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MUSASHI';
    src: url('fontes/MUSASHI.ttf') format('truetype');
}

:root {
    font-size: 16px;
    font-family: sans-serif;
    --primary-color: #dbc12c;
    --secondary-color: #3E3B27;
    --tertiary-color: #2c2a1c;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.5s, color 0.5s;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

/* Temas */
.tema-claro {
    --primary-color: #dbc12c;
    --secondary-color: #3E3B27;
    --tertiary-color: #2c2a1c;
}

.tema-escuro {
    --primary-color: #3E3B27;
    --secondary-color: #dbc12c;
    --tertiary-color: #c7a900;
}

/* Menu */

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    transition: 600ms ease;
    background-color: var(--tertiary-color);
}

.logo svg {
    transform: rotate(90deg);
    transition: 500ms;
}

.menu:hover .logo svg {
    transform: rotate(-90deg);
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.menu {
    position: fixed;
    background-color: var(--secondary-color);
    transition: width 600ms ease;
}

.navegacao-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.item-menu {
    width: 100%;
}

.item-menu:last-child {
    margin-top: auto;
}

.link-menu {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.link-menu:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--tertiary-color);
}

.texto-link {
    display: none;
    margin-left: 1rem;
    color: var(--primary-color);
    font-size: 2rem;
    transition: 600ms;
}

.link-menu svg {
    min-width: 2rem;
    min-height: 2rem;
    margin: 0 1.5rem;
    fill: var(--primary-color);
}

.texto-logo {
    display: inline;
    position: absolute;
    left: -999px;
    transition: 600ms;
}

/* HOME */
h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

.titulo {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.tabela {
    overflow-x: auto;
}

table{
    margin: 0 auto;
    display: table;
    justify-content: center;
    max-width: 80%;
    border-collapse: collapse;
    border: 2px solid var(--tertiary-color);
}

th {
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
    max-width: 16%;
    border: 3px solid var(--tertiary-color);
}

td {
    font-size: 2rem;
    text-align: center;
    padding: 0.7rem;
    border: 3px solid var(--tertiary-color);
}

tr:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 300ms;
    cursor: default;
}

.div-dragao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-dragao {
    background-color: var(--secondary-color);
    border: 3px solid var(--tertiary-color);
    border-radius: 30%;
}

.botao-dragao:hover {
    background-color: var(--tertiary-color);
    transition:600ms;
}

/* LOGIN */
.formulario {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    padding: 2rem;
    border: 3px solid #dbc12c;
    background-color: #3E3B27;
    color: #dbc12c;
    max-width: 30rem;
    margin: 0 auto;
}

.formulario label {
    flex-direction: row;
    text-align: center;
    text-shadow: 1px solid #2c2a1c;
}

.formulario input {
    height: 2rem;
    width: 95%;
    background-color: #dbc12c;
    color: #2c2a1c;
    margin: 0 auto;
    padding: 0.5rem;
    border: 2px solid #2c2a1c;
    font-family: 'MUSASHI', sans-serif;
}

.formulario ::placeholder {
    font-style: italic;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.cadastrar {
    font-family: 'MUSASHI', sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 40%;
    background-color: #dbc12c;
}

.cadastrar:hover {
    background-color: #c7a900;
    transition: 600ms;
    cursor: pointer;
}

.cancelar {
    font-family: 'MUSASHI', sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 40%;
    background-color: #DE434B;
}

.cancelar:hover {
    background-color: #A81613;
    transition: 600ms;
    cursor: pointer;
}

#resultado { /* <---------------- Uso de ID */
    margin-top: 2rem !important;
    max-width: 30rem;
    margin: 0 auto;
    background-color: #3E3B27;
    padding: 1rem;
    color: #dbc12c;
    border: 2px solid #dbc12c;
    text-shadow: 1px solid #2c2a1c;
}


/* MENSAGEM DE SORTE AO ENTRAR */
.mensagem {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros elementos */
    left: 50;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}


.conteudo-mensagem {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal vertical e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Limita a largura máxima do modal */
    text-align: center;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* -------------MEDIA QUERY-------- */

/* Telas pequenas */
@media only screen and (max-width: 600px) {
    .menu {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .texto-logo {
        display: none;
    }

    .logo {
        max-height: 5rem;
        margin-bottom: 0;
    }

    .logo svg {
        transform: rotate(270deg);
    }

    .navegacao-menu {
        flex-direction: row;
    }

    .link-menu {
        justify-content: center;
    }

    main {
        margin: 0;
        margin-bottom: 5rem;
    }


}

/* Telas grandes */
@media only screen and (min-width: 600px) {
    .menu {
        top: 0;
        width: 5rem;
        height: 100svh;
    }

    .menu svg {
        max-width: 2rem;
    }

    .menu:hover {
        width: 16rem;
    }

    .menu:hover .texto-link {
        display: inline;
    }

    .menu:hover .logo svg {
        margin-left: 12rem;
    }

    .menu:hover .texto-logo {
        left: 0;
    }
}
