.menu {
    margin-bottom: 10rem;
}

.menu ul li a {
     color: red !important;
     font-size: 4rem;
     padding: 1.5rem 2rem !important;
     text-shadow: 3px 3px black;
}

.menu ul a:hover {
    color: gold !important;
}

.logo {
    
}

/* Formatações do Bootstrap */
.navbar-toggler {
    background-color: gold;
}

.navbar-toggler:focus {
    outline: 0;
}

h1 {
    text-align: center;
    color: red;
    text-shadow: 3px 3px black;
    font-size: 4rem;
}

h2 {

}
